.tab_container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.tab_item {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
}

.tab_item:first-child {
	margin-left: 0px;
}

.tab_item:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	--tw-ring-color: var(--edustore-secondary-color);
}

.tab_item:disabled {
	cursor: not-allowed;
	--tw-text-opacity: 1;
	color: rgb(156 163 175 / var(--tw-text-opacity));
}

:is(.dark .tab_item):disabled {
	--tw-text-opacity: 1;
	color: rgb(107 114 128 / var(--tw-text-opacity));
}

.tab_item_active {
	border-radius: 0.5rem;
	background-color: var(--edustore-primary-color) !important;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

.course_container {
	min-height: 12rem;
	width: 100%;
	min-width: 272px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.course_container:hover {
	--tw-scale-x: 1.03;
	--tw-scale-y: 1.03;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

@media (min-width: 640px) {

	.course_container {
		width: 33.333333%;
	}
}

@media (min-width: 1024px) {

	.course_container {
		width: 33.333333%;
	}
}

@media (min-width: 1280px) {

	.course_container {
		width: 25%;
	}
}

.course_container.slide {
	width: 100% !important;
}

.course_container>div {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	border-radius: 0.75rem;
	border-width: 1px;
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.course_cover_container {
	height: 12rem;
	width: 100%;
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
	padding: 0.5rem;
}

.course_cover_container a {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
}

.course_cover_container img {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	border-radius: 0.75rem;
	-o-object-fit: cover;
	   object-fit: cover;
}

.course_info_container {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem;
}

.course_title {
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-family: Roboto, ui-sans-serif, sans-serif;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 700;
}

.course_subtitle {
	margin-bottom: 0.125rem;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.course_free {
	width: -moz-max-content;
	width: max-content;
	border-radius: 0.375rem;
	background-color: var(--edustore-secondary-color) !important;
	padding: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 700;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

.course_description {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.course_price_container {
	margin: 0.125rem;
	text-align: center;
}

.course_price_discount_container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.course_price {
	font-family: Roboto, ui-sans-serif, sans-serif;
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-weight: 600;
	color: var(--edustore-secondary-color);
}

.course_price_discount {
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	--tw-text-opacity: 1;
	color: rgb(240 82 82 / var(--tw-text-opacity));
	text-decoration-line: line-through;
}

.course_see_container {
	margin-bottom: 0.5rem;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.course_see {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	border-width: 1px;
	background-color: var(--edustore-primary-color) !important;
	padding: 0.125rem;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	--tw-text-opacity: 1 !important;
	color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.course_see:focus {
	z-index: 10;
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.course_see:hover {
	background-color: var(--edustore-secondary-color) !important;
	--tw-text-opacity: 1 !important;
	color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.swiper {
	width: 100%;
	height: 100%;
}

.edustore_courses_container .swiper-slide {
	text-align: center;
	font-size: 18px;
	min-width: 272px;
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50% !important}

@media (min-width: 640px) {
	.edustore_courses_container .swiper-slide {
		width: 33.333333% !important;
		min-width: 300px;
	}
}

@media (min-width: 1024px) {
	.edustore_courses_container .swiper-slide {
		width: 25% !important;
	}
}


.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.swiper-button-prev {
	margin-left: -10px !important
}

.swiper-button-next {
	margin-right: -10px !important
}

.swiper-button-prev,
.swiper-button-next {
	height: 2.5rem !important;
	width: 2.5rem !important;
	border-radius: 9999px;
	border-width: 1px;
	border-color: var(--edustore-primary-color) !important;
	background-color: var(--edustore-primary-color-transparent);
	--tw-bg-opacity: 0.5;
	padding: 0.5rem;
	--tw-text-opacity: 1 !important;
	color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 20px !important;
}
.edu_blog_container {

    width: 100%;

    padding: 0.5rem
}

@media (min-width: 640px) {

    .edu_blog_container {

        width: 50%
    }
}

@media (min-width: 1024px) {

    .edu_blog_container {

        width: 33.333333%
    }
}

.edu_blog_item {

    height: 100%;

    width: 100%;

    overflow: hidden;

    border-radius: 0.5rem;

    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition-duration: 150ms
}

.edu_blog_item:hover {

    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.edu_blog_item_img_container {

    display: flex;

    height: 12rem;

    width: 100%
}

.edu_blog_item_img {

    height: 100%;

    width: 100%;

    -o-object-fit: cover;

       object-fit: cover
}

.edu_blog_item_content_container {

    --tw-bg-opacity: 1;

    background-color: rgb(255 255 255 / var(--tw-bg-opacity));

    padding: 1rem
}

@media (min-width: 640px) {

    .edu_blog_item_content_container {

        padding: 1.5rem
    }
}

.edu_blog_item_title {

    margin-top: 0.125rem;

    font-family: Roboto, ui-sans-serif, sans-serif;

    font-size: 1.125rem;

    line-height: 1.75rem;

    font-weight: 600;

    --tw-text-opacity: 1;

    color: rgb(17 24 39 / var(--tw-text-opacity))
}

.edu_blog_item_description {

    margin-top: 0.5rem;

    overflow: hidden;

    display: -webkit-box;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 3;

    font-size: 0.875rem;

    line-height: 1.625;

    --tw-text-opacity: 1;

    color: rgb(107 114 128 / var(--tw-text-opacity))
}
.edu_faq_section_title_container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    padding: 0.5rem;
}

.edu_faq_section_title {
    font-family: Roboto, ui-sans-serif, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

.edu_faq_container {
    margin-bottom: 5px;
    border-inline-start-width: 4px;
    border-color: var(--edustore-primary-color);
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    padding: 1.5rem;
}

.edu_faq_container summary::-webkit-details-marker {
    display: none;
}

.edu_faq_container {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}

.edu_faq_tab {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    gap: 0.375rem;
}

.edu_faq_title {
    font-family: Roboto, ui-sans-serif, sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.edu_faq_content {
    margin-top: 1rem;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
.edu_popup_type_img_container {
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 0px;
}

.edu_popup_type_img_container img {
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
    -o-object-fit: contain;
       object-fit: contain;
}

@media (min-width: 768px) {

    .edu_popup_type_img_container img {
        -o-object-fit: cover;
           object-fit: cover;
    }
}

.edu_popup_type_video_container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.edu_popup_type_video_container>div {
    width: 98%;
    margin: 0 auto;
}

.edu_popup_type_video_container iframe {
    width: 100%;
}

.carousel-left-control,
.carousel-right-control {
    border: none !important;
}

.carousel-left-control:hover,
.carousel-right-control:hover {
    background-color: transparent;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    height: 2.5rem !important;
    width: 2.5rem !important;
    border-radius: 9999px;
    border-width: 1px;
    border-color: var(--edustore-primary-color) !important;
    background-color: var(--edustore-primary-color-transparent);
    --tw-bg-opacity: 0.5;
    padding: 0.5rem;
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px !important;
}

.edu_swiper_title_container {
    position: absolute;
    bottom: 0px;
    display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #000000 var(--tw-gradient-to-position);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.edu_swiper_title {
    font-family: Roboto, ui-sans-serif, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 640px) {

    .edu_swiper_title {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

@media (min-width: 768px) {

    .edu_swiper_title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

@media (min-width: 1024px) {

    .edu_swiper_title {
        font-size: 3rem;
        line-height: 1;
    }
}
.edu_testimonials_section {}

.edu_testimonials_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1340px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 640px) {

    .edu_testimonials_container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {

    .edu_testimonials_container {
        margin-inline-end: 0px;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-inline-end: 0px;
        padding-inline-start: 2rem;
    }
}

@media (min-width: 1280px) {

    .edu_testimonials_container {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.edu_testimonials_title_container {
    max-width: 80rem;
    align-items: flex-end;
    justify-content: space-between;
}

@media (min-width: 640px) {

    .edu_testimonials_title_container {
        display: flex;
        padding-inline-end: 1.5rem;
    }
}

@media (min-width: 1024px) {

    .edu_testimonials_title_container {
        padding-inline-end: 2rem;
    }
}

.edu_testimonials_title {
    max-width: 36rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

@media (min-width: 640px) {

    .edu_testimonials_title {
        font-size: 3rem;
        line-height: 1;
    }
}

.edu_testimonials_arrows_container {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

@media (min-width: 1024px) {

    .edu_testimonials_arrows_container {
        margin-top: 0px;
    }
}

.edu_testimonials_arrow_prev, .edu_testimonials_arrow_next {
    border-width: 1px;
}

.edu_testimonials_arrow_prev {
    border-radius: 9999px;
    border-width: 1px;
    border-color: var(--edustore-primary-color);
    padding: 0.75rem;
    color: var(--edustore-primary-color);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.edu_testimonials_arrow_prev:hover {
    background-color: var(--edustore-primary-color);
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.edu_testimonials_arrow_prev:focus {
    background-color: var(--edustore-primary-color);
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.edu_testimonials_arrow_next {
    border-radius: 9999px;
    border-width: 1px;
    border-color: var(--edustore-primary-color);
    padding: 0.75rem;
    color: var(--edustore-primary-color);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.edu_testimonials_arrow_next:hover {
    background-color: var(--edustore-primary-color);
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.edu_testimonials_slides_container {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: 2rem;
}

@media (min-width: 1024px) {

    .edu_testimonials_slides_container {
        grid-column: span 2 / span 2;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.edu_testimonials_description_container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.5rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px) {

    .edu_testimonials_description_container {
        padding: 2rem;
    }
}

@media (min-width: 1024px) {

    .edu_testimonials_description_container {
        padding: 3rem;
    }
}

.edu_testimonials_description {
    margin-top: 1rem;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.edu_testimonials_footer {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

@media (min-width: 640px) {

    .edu_testimonials_footer {
        margin-top: 1.5rem;
    }
}

.edu_testimonials_slides .swiper-slide {
    margin-right: 1rem;
}

@media (min-width: 640px) {
    .edu_testimonials_slides .swiper-slide {
        min-width: 450px;
        width: 50% !important;

    }
}
.edustore_app a {
    text-decoration: none;
    border: none;
}

.edustore_app button:not(.edu_testimonials_arrow_next, .edu_testimonials_arrow_prev) {
    border: none;
}
