.tab_container {
	@apply flex flex-col gap-2
}

.tab_item {
	@apply flex items-center justify-center my-2 p-2 px-4 rounded-t-lg text-sm font-medium first:ml-0 disabled:cursor-not-allowed disabled:text-gray-400 disabled:dark:text-gray-500 focus:ring-4 focus:ring-[--edustore-secondary-color] focus:outline-none
}

.tab_item_active {
	@apply rounded-lg !bg-[--edustore-primary-color] text-white
}

.course_container {
	@apply transition w-full sm:w-1/3 lg:w-1/3 xl:w-1/4 px-2 py-4 min-h-48 hover:scale-[1.03] hover:transition min-w-[272px]
}

.course_container.slide {
	@apply !w-full
}

.course_container>div {
	@apply flex flex-col w-full h-full border rounded-xl shadow
}

.course_cover_container {
	@apply rounded-t-xl h-48 w-full p-2
}

.course_cover_container a {
	@apply w-full flex justify-center h-full relative
}

.course_cover_container img {
	@apply object-cover rounded-xl scale-100
}

.course_info_container {
	@apply flex flex-col w-full justify-between my-2 p-2 h-full
}

.course_title {
	@apply text-xl my-0.5 font-bold text-ellipsis line-clamp-2 overflow-hidden text-center font-sans;
}

.course_subtitle {
	@apply py-0.5 mb-0.5 w-full flex items-center justify-center text-sm
}

.course_free {
	@apply !bg-[--edustore-secondary-color] w-max p-2 rounded-md text-white font-bold text-sm
}

.course_description {
	@apply my-2
}

.course_price_container {
	@apply m-0.5 text-center
}

.course_price_discount_container {
	@apply flex w-full flex-col items-center
}

.course_price {
	@apply text-4xl font-semibold text-[--edustore-secondary-color] font-sans
}

.course_price_discount {
	@apply line-through text-sm my-0.5 text-red-500
}

.course_see_container {
	@apply flex w-full mb-2 items-center justify-center
}

.course_see {
	@apply w-full uppercase border transition !bg-[--edustore-primary-color] !text-[white] flex items-center justify-center p-0.5 text-center font-medium relative focus:z-10 focus:outline-none
}

.course_see:hover {
	@apply !bg-[--edustore-secondary-color] !text-[white] transition
}

.swiper {
	width: 100%;
	height: 100%;
}

.edustore_courses_container .swiper-slide {
	text-align: center;
	font-size: 18px;
	min-width: 272px;
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
	@apply !w-1/2
}

@media (min-width: 640px) {
	.edustore_courses_container .swiper-slide {
		@apply !w-1/3;
		min-width: 300px;
	}
}

@media (min-width: 1024px) {
	.edustore_courses_container .swiper-slide {
		@apply !w-1/4
	}
}


.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-prev {
	margin-left: -10px !important
}

.swiper-button-next {
	margin-right: -10px !important
}

.swiper-button-prev,
.swiper-button-next {
	@apply !border-[--edustore-primary-color] bg-opacity-50 bg-[--edustore-primary-color-transparent] border !text-[white] p-2 rounded-full !w-10 !h-10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 20px !important;
}