.edu_blog_container {
    @apply w-full sm:w-1/2 lg:w-1/3 p-2
}

.edu_blog_item {
    @apply overflow-hidden w-full h-full rounded-lg shadow transition hover:shadow-lg
}

.edu_blog_item_img_container {
    @apply w-full h-48 flex
}

.edu_blog_item_img {
    @apply h-full w-full object-cover
}

.edu_blog_item_content_container {
    @apply bg-white p-4 sm:p-6
}

.edu_blog_item_title {
    @apply mt-0.5 text-lg text-gray-900 font-sans font-semibold
}

.edu_blog_item_description {
    @apply mt-2 line-clamp-3 text-sm/relaxed text-gray-500
}