.edu_popup_type_img_container {
    @apply w-full h-full bg-white p-0 rounded-xl
}

.edu_popup_type_img_container img {
    @apply h-full w-full rounded-xl object-contain md:object-cover
}

.edu_popup_type_video_container {
    @apply w-full overflow-x-hidden h-full flex items-center justify-center flex-col
}

.edu_popup_type_video_container>div {
    width: 98%;
    margin: 0 auto;
}

.edu_popup_type_video_container iframe {
    width: 100%;
}

.carousel-left-control,
.carousel-right-control {
    border: none !important;
}

.carousel-left-control:hover,
.carousel-right-control:hover {
    background-color: transparent;
}