.edu_testimonials_section {}

.edu_testimonials_container {
    @apply mx-auto max-w-[1340px] px-4 py-12 sm:px-6 lg:me-0 lg:py-16 lg:pe-0 lg:ps-8 xl:py-24
}

.edu_testimonials_title_container {
    @apply max-w-7xl items-end justify-between sm:flex sm:pe-6 lg:pe-8
}

.edu_testimonials_title {
    @apply max-w-xl text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl
}

.edu_testimonials_arrows_container {
    @apply mt-8 flex gap-4 lg:mt-0
}

.edu_testimonials_arrow_prev, .edu_testimonials_arrow_next {
    @apply border
}

.edu_testimonials_arrow_prev {
    @apply rounded-full border border-[--edustore-primary-color] p-3 text-[--edustore-primary-color] transition hover:bg-[--edustore-primary-color] hover:text-white focus:bg-[--edustore-primary-color] focus:text-white
}

.edu_testimonials_arrow_next {
    @apply rounded-full border border-[--edustore-primary-color] p-3 text-[--edustore-primary-color] transition hover:bg-[--edustore-primary-color] hover:text-white
}

.edu_testimonials_slides_container {
    @apply -mx-6 mt-8 lg:col-span-2 lg:mx-0
}

.edu_testimonials_description_container {
    @apply flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 lg:p-12
}

.edu_testimonials_description {
    @apply mt-4 leading-relaxed text-gray-700
}

.edu_testimonials_footer {
    @apply mt-4 text-sm font-medium text-gray-700 sm:mt-6
}

.edu_testimonials_slides .swiper-slide {
    @apply mr-4;

}

@media (min-width: 640px) {
    .edu_testimonials_slides .swiper-slide {
        min-width: 450px;
        @apply !w-1/2;

    }
}