.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    @apply !border-[--edustore-primary-color] bg-opacity-50 bg-[--edustore-primary-color-transparent] border !text-[white] p-2 rounded-full !w-10 !h-10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px !important;
}

.edu_swiper_title_container {
    @apply absolute px-2 bg-gradient-to-b from-transparent to-black flex items-center bottom-0 w-full h-1/5
}

.edu_swiper_title {
    @apply text-white text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold font-sans
}