.edustore_app a {
    text-decoration: none;
    border: none;
}

.edustore_app button:not(.edu_testimonials_arrow_next, .edu_testimonials_arrow_prev) {
    border: none;
}


@import url("./Pages/Courses/index.css");
@import url("./Pages/Blog/index.css");
@import url("./Pages/Faq/index.css");
@import url("./Pages/Popups/index.css");
@import url("./Pages/Sliders/index.css");
@import url("./Pages/Testimonials/index.css");