.edu_faq_section_title_container {
    @apply my-2 bg-gray-50 p-2
}

.edu_faq_section_title {
    @apply text-2xl font-semibold font-sans
}

.edu_faq_container {
    @apply border-s-4 border-[--edustore-primary-color] mb-[5px] bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}

.edu_faq_tab {
    @apply flex cursor-pointer items-center justify-between gap-1.5
}

.edu_faq_title {
    @apply text-lg font-medium text-gray-900 font-sans
}

.edu_faq_content {
    @apply mt-4 leading-relaxed text-gray-700
}